.base {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.calculator {
    display: flex;
    background-color: rgb(22, 123, 218);
    padding: 15px;
    align-items: stretch;
    flex-direction: column;
    min-height: 50vh;
    min-width: 50vh;
}

.display, .numsNops, .clear {
    background-color: white;
    display: flex;
}

.display {
    flex-grow: 2;
}

.numsNops {
    flex-grow: 2;
}

.clear {
    flex-grow: 1;
}

.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    height: 200px;
    width: 150px;
    max-height: 200px;
    max-width: 150px;
}

.num {
    background-color: palevioletred;
}

